@{
    ViewBag.Title = "Acknowledgements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container allmenus-container">
    <h2>Acknowledgements</h2>
    I would not be the person I am today without both Princeton and the Thiel Fellowship, as well as my unconditionally supportive friends and 
    family. <br/><br/>
    
    My software development journey has been possible because of:
        <ul class="acknowledgements">
            <li>Eric Wise's mentorship</li>
            <li>Janet Chang, Chase Penelli and Nathan Cruz pushing me to be my best</li>
            <li>Rebecca Offensend's ninja skills and everlasting patience</li>
        </ul>
</div>
